*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    touch-action: manipulation;  /* Prevents blocking touch actions */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#fullscreen-btn {
    display: none; /* Hidden initially */
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

#fullscreen-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
